@media (min-width: 768px) {
  .blogcontainer {
    display: grid;
    grid-template-columns: 400px 250px 250px;
    grid-gap: 15px;
    grid-template-rows: 80px 575px;
    grid-template-areas:
      "hd hd hd hd hd hd"
      "main main main info info info ";
  }
  .fa {
    padding: 15px;
    width: 5px;
    align-items: center;
    height: 5px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin: 5px 2px;
  }

  .fa:hover {
    opacity: 0.7;
  }

  .fa-facebook {
    background: #3b5998;
    color: white;
  }

  .fa-twitter {
    background: #55acee;
    color: white;
  }

  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  .box {
    background: #eeeff1;
  }

  .contextbox {
    background: #848992;
    height: 250px;
    width: 370px;
    border-radius: 13px;
  }
  .header {
    grid-area: hd;
    text-align: center;
  }

  .authorcontent {
    padding: 30px;
    font-size: 1.5em;
    font-family: Georgia;
    grid-area: main;
  }

  .authorinfo {
    background-color: rgb(247, 250, 250);
    border-radius: 30px;
    grid-area: info;
    border: 2px;
    height: 350px;
    width: 350px;
    padding: 30px;
  }

  .contentinmain {
    width: auto;
  }

  .author {
    height: 270px;
    width: 350px;
    border-radius: 20px;
  }

  .userinfo {
    font-size: 15px;
  }

 
}

@media (max-width: 767px) {
  .blogcontainer {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "hd"
      "main"
      "info";
  }
  .authorcontent {
    padding: 20px;
    font-size: 1.2em;
  }
  .authorinfo {
    height: auto;
    width: auto;
    border-radius: 0;
    padding: 20px;
  }
  .author {
    height: auto;
    width: 100%;
    border-radius: 0;
  }
  img {
    height: 64px;
    width: 64px;
  }
  .userinfo {
    font-size: 12px;
  }
}

.fa {
  padding: 15px;
  width: 5px;
  align-items: center;
  height: 5px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  margin: 5px 2px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.box {
  background: #eeeff1;
}

.contextbox {
  background: #848992;
  height: 250px;
  width: 370px;
  border-radius: 13px;
}

.header {
  grid-area: hd;
  text-align: center;
}

.authorcontent {
  padding: 30px;
  font-size: 1.5em;
  font-family: Georgia;
  grid-area: main;
}

.authorinfo {
  background-color: rgb(247, 250, 250);
  border-radius: 30px;
  grid-area: info;
  border: 2px;
  height: 350px;
  width: 350px;
  padding: 30px;
}

.contentinmain {
  width: auto;
}

.author {
  height: 270px;
  width: 350px;
  border-radius: 20px;
}

.userinfo {
  font-size: 15px;
}

.author img {
  border-radius: 50%;
  height: 88px;
  width: 88px;
}
