@media (min-width: 200px) and (max-width: 1189px) {
  .container {
    display: grid;
    width: 100vw;
    min-height: 150vh;
    grid-gap: 15px;
    grid-template-rows: 5% 100% 2%;
    grid-template-areas:
      "hd"
      "main"
      "ft";
  }
  .box {
    background: #f6f7f8;
  }

  .header {
    text-align: center;
    margin: 0px;
    padding: 0px;
  }

  .contextbox {
    background: #f0f2f6;
    height: 350px;
    width: 950px;
    margin: 0 auto;
    padding-left: 10px;
    border-radius: 13px;
    margin-bottom: 20px;
  }
  .contextbox p {
    font-size: 25px;
  }

  .linktoblog {
    height: 100px;
    display: flex;
    justify-content: flex-end;
    float: right;
  }
  button {
    text-decoration: none;
    display: inline-block;
    width: 200px;
    height: 50px;
    background-color: rgb(56, 109, 223);
    color: white;
    border-radius: 20px;
    text-align: center;
    line-height: 50px;
  }

  .content {
    display: grid;
    grid-gap: 20px;
  }

  .image-container img {
    height: 280px;
    width: 950px;
  }

  .contextbox h3 {
    text-align: center;
  }

  
  figcaption {
    text-align: center;
  }
}
